/CMSProject.sln

# Build
bin/
obj/

# Rider & VS
.idea/
*.suo
*.user

# VS Code
.vscode/

# EF Core snapshots/designer
**/*Snapshot.cs
**/*Designer.cs

# Sistema
*.log
*.DS_Store

# =============================
# Frontend (Next.js / Node.js)
# =============================

# Diretório de build do Next.js
cms-frontend/.next/

# Dependências
cms-frontend/node_modules/

# Variáveis de ambiente
cms-frontend/.env
cms-frontend/.env.local
cms-frontend/.env.*.local

# Arquivos de log
cms-frontend/npm-debug.log*
cms-frontend/yarn-debug.log*
cms-frontend/yarn-error.log*

# Cache do Turbo (caso use)
cms-frontend/.turbo/

# lockfiles (opcional ignorar se usa npm ci)
# cms-frontend/package-lock.json
